$vh-home: 100vh;
$vh-work: 80vh;
$vh-content: 50vh;

.hero {
  width: 100%;
  position: relative;
  z-index: 1;

  &.-home {
    height: $vh-home;
    background-color: $neutral-dark; 
  }

  &.-content{
    height: $vh-content;
    background-color: $neutral-dark;
  }

  &.-work{
    height: $vh-work;
    background-color: $neutral-dark;
  }
}

.hero__slideshow {
  width: 100%;
  z-index: 0;
  position: relative;
  li {
    width: 100%;
    position: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center !important;
    background-size: cover !important;
  }
  &.-home {
    height: $vh-home;
    li { 
      height: $vh-home;
    }
  }
  &.-work {
    height: $vh-work;
    li { 
      height: $vh-work;
    }
  }
  &.-content {
    height: $vh-content;
    li { 
      height: $vh-content;
      opacity: 0.8;
    }
  }

  &.-blog {
    height: 100px;
  }
}

.hero__content {
  width: 100%;
  z-index: 2;
  color: #fff !important;
  position: absolute;
  &.-home{
    max-width: 960px;
    text-align: left;
    top: 52%;
    left: 56%;
    transform: translate(-62%, -50%);
  }
  &.-content {
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.-work{
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.3) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    bottom: 0px;
    padding-bottom: 60px;
  }
}

.hero__tagline {
  font-size: 1.4em;
  padding-bottom: 25px;
}

/* ----------------------------------------------------- */
@media all and (max-width: $breakpoint-med){
/* ----------------------------------------------------- */

$vh-home: 100vh;
$vh-work: 80vh;
$vh-content: 50vh;

.hero {
  &.-home {
    height: $vh-home;
  }

  &.-content {
    height: $vh-content;
  }

  &.-work{
    height: $vh-work;
  }
}

.hero__content {

  &.-home{
    max-width: 900px;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.-content {
    text-align: center;
    top: 60%;
    left: 50%;
  }

  &.-work{
    padding-bottom: 20px;
  }
}

.hero__slideshow {
  &.-home {
    height: $vh-home;
    li { 
      height: $vh-home; 
      background-position: 39% center !important;
      background-size: cover !important;
    }
  }
  &.-work {
    height: $vh-work;
    li { height: $vh-work; }
  }
  &.-content {
    height: $vh-content;
    li { 
      height: $vh-content;
      opacity: 0.8;
    }
  }
}

.hero__tagline {
  font-size: 1.3em;
}

/* ----------------------------------------------------- */  
}
/* ----------------------------------------------------- */


/* ----------------------------------------------------- */
@media all and (max-width: $breakpoint-small){
/* ----------------------------------------------------- */

$vh-work: 80vh;
$vh-content: 50vh;

.hero {
  &.-home {
    height: auto;
    min-height: 650px;
  }

  &.-content {
    height: $vh-content;
  }

  &.-work{
    height: $vh-work;
  }
}

.hero__content {

  &.-home{
    max-width: 900px;
    text-align: center;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.-content {
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.-work{
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0.7) 100%);
    bottom: 0px;
    padding-bottom: 10px;
  }
}

.hero__slideshow {
  &.-home {
    li { 
      min-height: 650px;
      background-position: 43% center !important;
      background-size: cover !important;
    }
  }
  &.-work {
    height: $vh-work;
    li { height: $vh-work; }
  }
  &.-content {
    height: $vh-content;
    li { 
      height: $vh-content;
      opacity: 0.8;
    }
  }
}

.hero__tagline {
  font-size: 1.1em;
  line-height: 1.2em;
}


/* ----------------------------------------------------- */  
}
/* ----------------------------------------------------- */

.reveal-text,
.reveal-text::after {
  animation-iteration-count: var(--iterations);
  animation-duration: var(--duration);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.reveal-text.reveal-text__title, .reveal-text.reveal-text__title::after {
  animation-delay: 1.2s;
}

.reveal-text.reveal-text__subtitle, .reveal-text.reveal-text__subtitle::after {
  animation-delay: 2s;
}

.reveal-text {
  display: inline-block;
  user-select: none;
  animation-name: reveal-text;
  color: #FFF;
  white-space: pre-wrap;
  cursor: default;
  z-index: 1000;
  background: rgba(0,0,0,0.8);

  &.reveal-text__title {
    padding: 20px;
  }

  &.reveal-text__subtitle {
    margin-top: 10px;
    padding: 20px;
  }
  
  &::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: revealer-text;
  }
  
}


@keyframes reveal-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}


@keyframes revealer-text {
  
  0%, 50% {
    transform-origin: 0 50%;
  }
  
  50%, 100% {
    transform-origin: 100% 50%;   
  }

  
  50% {
    transform: scaleX(1);
  }
  
  100% {
    transform: scaleX(0);
  }
}
