/* -- HEADER -- */

$header-desktop__large: 100px;
$header-desktop__small: 76px;

header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  padding: 0px 30px;
  transition: background 250ms ease-in-out;
  background: rgba(0,0,0,0.3);

  .header__inner {
    width: 100%;
    height: $header-desktop__large;
    position: relative;
    @include animate(.2s);
    max-width: 80rem;
    margin: 0px auto;
  }

  .header__logo__link {
    display: block;
    float: left;
    margin-top: 42px;
    @include animate(.2s);
    &:hover {
      opacity: .7;
    }
    .header__logo__image{
      @include animate(.2s);
      width: 300px;
    }
    .header__logo__text{
      @include animate(.2s);
      color: $neutral-light;
      line-height: 0.6em;
      font-size: 2em;
      padding: 0px;
    }
  }

}

nav.header__nav {
  @include animate(.2s);
  float: right;
  ul {
    float: right;
    @include animate(.2s);

    &:hover > li {
      opacity: 0.5;
    }

    &:hover > li:hover {
      opacity: 1.0;
    }

    li {
      display: inline-block;
      margin-left: 30px;
      padding: 0 !important;
      @include animate(.2s);

      a {
        opacity: 1;
        display: block;
        padding: 35px 2px 20px 0px;
        font-size: 1.3em;
        color: $neutral-light;
        font-weight: 400;
        font-family: $body-font;
        border-top: 4px solid transparent;
        @include animate(.2s);
        &:hover {
          border-top: 4px solid white;
        }
      }

      &.current-menu-parent > a,
      &.current_page_item > a {
        border-top: 4px solid white;
        display: block;
        opacity: 1;
      }

    }
  }
}

.navicon {
  display: none;
}

header.smaller {
  background: $neutral-dark;

  .header__inner{
    height: $header-desktop__small;
  }

  .header__logo__link {
    margin-top: 17px;
    .header__logo__image{
      width: 250px !important;
    }
    .header__logo__text{
      @include animate(.2s);
      color: $neutral-light;
      padding: 10px 0px;
    }
  }

  .button_container {
    top: 23px;
  }

  nav.header__nav {
    margin-top: 0px;
    ul {
      li {
        a {
          display: block;
          padding: 23px 2px 20px 0px;
          font-size: 1.2em;
          color: $neutral-light;
        }
      }
    }
  }

}

.button_container {
  display: none;
  position: absolute;
  top: 37px;
  right: 0px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.button_container:hover {
  opacity: .8;

}

.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}

.button_container.active .middle {
  opacity: 0;
  background: #fff;
}

.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}

.button_container {
  span {
    background: #fff;
    border: none;
    height: 5px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
    display: block;
  }

  &> span:nth-of-type(2), 
  &> span:nth-of-type(3) {
    margin-top: 6px;
  }
}


#overlay-menu {
  margin-top: 100px;
  text-align: center;

  &>ul>li {
    font-size: 24px;
  }
}

.overlay { 
  position: fixed;
  background: $neutral-dark;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;

  nav {
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;

      a {
        display: block;
        position: relative;
        color: #FFF;
        text-decoration: none;
        overflow: hidden;
        font-size: 2em;
        line-height: 2em;
      }
    }
  }
}

.overlay.open {
  opacity: 0.95;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  -webkit-animation: fadeInTop .5s ease forwards;
          animation: fadeInTop .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}


.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInTop{
  0% {
    opacity: 0;
    top: 20%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

/* ----------------------------------------------------- */
@media all and (max-width: $breakpoint-med){
/* ----------------------------------------------------- */

nav.header__nav {
  display: none;
}

.button_container{
  display: block;
  top: 37px;
}

.navicon {
  display: block;
  z-index: 9999;
  position: absolute;
  right: -10px;
  top: 35px;
  height: 56px;
  width: 56px;
  padding: 20px;
  background-color: rgba(255,255,255,0.2);
  cursor: pointer;
  @include animate(.2s);
    
  &:before {
    content: '';
    display: block;
    height: 9px;
    border-top: 2px solid $neutral-light;
    border-bottom: 2px solid $neutral-light;
    margin-bottom: 5px;
  }

  &:after{
    content: '';
    height: 2px;
    display: block;
    background: $neutral-light;
  }
}

header.smaller {
  .navicon {
    right: -10px;
    top: 10px;
    height: 56px;
    width: 56px;
    padding: 20px;
  }
}

/* ----------------------------------------------------- */  
}
/* ----------------------------------------------------- */

/* ----------------------------------------------------- */
@media all and (max-width: $breakpoint-small){
/* ----------------------------------------------------- */

$header-mobile__large: 50px;
$header-mobile__small: 40px;

header {
  height: 60px;
  padding: 0px 15px;

  .button_container{
    display: block;
    top: 16px;
  }

  .header__inner {
    height: $header-mobile__large;
  }

  .header__logo__link {
    display: block;
    float: left;
    margin-top: 20px;
    @include animate(.2s);
    &:hover {
      opacity: .7;
    }
    .header__logo__image{
      @include animate(.2s);
      width: 180px;
    }
  }

  .navicon {
    top: 8px;
    height: 40px;
    width: 42px;
    padding: 12px 14px 10px 14px;
  }

}

header.smaller {
  height: 50px;

  .button_container{
    display: block;
    top: 11px;
  }

  .header__inner {
    height: $header-mobile__small !important;
  }
  .header__logo__link {
    margin-top: 7px;
    .header__logo__text {
      font-size: 1.3em;
      margin-top: 2px;
    }
    .header__logo__image{
      width: 150px !important;
    }
  }

  .navicon {
    top: 0;
    width: 46px;
    height: 40px;
    right: -15px;
    padding: 12px 16px 8px 16px;
  }
}

/* ----------------------------------------------------- */  
}
/* ----------------------------------------------------- */

@media all and (orientation: landscape){
  #overlay-menu > ul > li {
    display: inline-block;
    margin: 15px;
    font-size: 20px;
  }
}

